@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

.main-cont {
    display: flex;
    flex-direction: column;
    margin: 8% auto;
    margin-left: 40px;

    .main-title {
      font-family: 'Noto Sans KR', Courier, monospace;
      font-size: 1.5rem;
      font-weight: 700;
      margin-top: 15px;
      margin-left:228px;
      @media screen and (min-width: 768px) {
        font-size: 1.4rem;
      }
    }
    .main-center-cont {
      display: grid;
      margin: 13% auto;
      @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        margin: 6% auto;
      }
      .MuiSvgIcon-root {
        fill: currentColor;
        height: 1em;
        display: inline-block;
        font-size: 80px;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        flex-shrink: 0;
        user-select: none;
        @media screen and (min-width: 768px) {
          height: 1em;
          font-size: 100px;
        }
      }
      .main-center-Rcont {
        background-color: white;
        width: 135px;
        height: 135px;
        margin-left: 60px;
        cursor: pointer;

        @media screen and (min-width: 768px) {
          margin-top: 0px;
          max-width: 256px;
          max-height: 256px;
        }
      }

      .main-center-Rtxt {
        font-family: 'Noto Sans KR', Courier, monospace;
        font-weight: 700;

        margin-top: 10px;
        margin-left: 45px;
        text-align: center;
        font-size: 1.3rem;
      }

      .main-center-Lcont {
        background-color: white;
        width: 245px;
        height: 245px;
        margin-top: 25px;
        margin-left: 160px;
        cursor: pointer;

        @media screen and (min-width: 768px) {
          margin: 0 120px;
          width: 256px;
          height: 256px;
          padding-left: 20px;
        }
      }

      .main-center-Ltxt {
        font-family: 'Noto Sans KR', Courier, monospace;
        font-size: 1.3rem;
        font-weight: 700;
        text-align: center;
        margin-left: -60px;

        @media screen and (min-width: 768px) {
        }
      }
    }
}

#searchcon{
  width: 256px;
  height: 256px;
}

#searchpage{
  margin-left: 100px;
  margin-right: 200px;
}

#mystudypara{
  padding-left: 10px;
  margin-top: 27px;
}