@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

*{
    font-family: 'Noto Sans KR', Courier, monospace;
    font-weight: 700;
}

h2{
    font-family: 'Noto Sans KR', Courier, monospace;
    font-weight: 700;
}

input{
    padding-left: 15px;
    font-size: 1.1rem;
}

#submitbtn{
    padding-left: 10px;
    padding-right: 10px;
}

textarea{
    border: 2px solid grey;
    border-radius: 20px;
}

.study-add {
    font-family: 'Noto Sans KR', Courier, monospace;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    .study-add-main {
        margin: 40px auto;
        @media screen and (min-width: 768px) {
            margin-left: 10%px;
        }
        .study-add-h2 {
            margin-left: 60px;
            @media screen and (min-width: 768px) {
                margin-left: 400px;
            }
        }
        .study-add-table {
            display: grid;
            grid-template-columns: 100px 200px;
            grid-template-rows: 30px 30px 30px 100px;
            margin-top: 30px;
            margin-bottom: 20px;
            font-size: 1.2rem;
            font-family: 'Noto Sans KR', Courier, monospace;
            font-weight: 700;
            @media screen and (min-width: 768px) {
                margin-top: 40px;
                margin-left: 10px;
                grid-template-columns: 100px 750px;
                grid-template-rows: 50px 50px 50px 300px;
            }
            .study-add-t-title {
                font-family: 'Noto Sans KR', Courier, monospace;
                  font-weight: 700;
            }
            .study-add-title {
                height: 22px;
                font-family: 'Noto Sans KR', Courier, monospace;
                font-weight: 700;
                @media screen and (min-width: 768px) {
                    height: 30px;
                }
            }
            .study-add-t-nop {
                font-family: 'Noto Sans KR', Courier, monospace;
                 font-weight: 700;
                margin-top: 22px;
            }
            .study-add-nop-input {
                height: 20px;
                margin-top: 20px;
                @media screen and (min-width: 768px) {
                    height: 30px;
                }
            }
            .study-add-t-summ {
                font-family: 'Noto Sans KR', Courier, monospace;
                font-weight: 700;
                margin-top: 32px;
            }
            .study-add-summ {
                height: 20px;
                margin-top: 30px;
                @media screen and (min-width: 768px) {
                    height: 30px;
                }
            }
            .study-add-t-cont {
                font-family: 'Noto Sans KR', Courier, monospace;
                font-weight: 700;
                margin-top: 40px;
            }
            .study-add-cont {
                height: 250px;
                margin-top: 42px;
                @media screen and (min-width: 768px) {
                    height: 300px;
                }
            }
        }
        .study-add-submit {
            font-family: 'Noto Sans KR', Courier, monospace;
            font-weight: 700;
            width: 100px;
            height: 35px;
            margin-top: 245px;
            margin-left: 10%;
            font-size: 0.8rem;

            @media screen and (min-width: 768px) {
                margin-top: 90px;
                margin-left: 415px;
                font-size: 1.0rem;
                height: 40px;
                width: 120px;
            }
        }
    }
}

input{
    border: 2px solid grey;
    border-radius: 30px;
}
