@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

*{
    font-family: 'Noto Sans KR', Courier, monospace;
    font-weight: 700;
}

.study-search {
    
    display: flex;
    flex-direction: column;
    //@debug: 50px auto;
    font-family: 'Noto Sans KR', Courier, monospace;
    font-weight: 700;
    margin-top: 70px;
    width: 100%;

    .study-add-btn {
        font-family: 'Noto Sans KR', Courier, monospace;
        font-weight: 700;
        border: 1px solid #a9a3a3;
        border-radius: 30px;
        margin-top: -30px;
        margin-bottom: 25px;
        height: 32px;
        width: 120px;
        cursor: pointer;
        margin-left: 62px;
        @media screen and (min-width: 768px) {
            padding-left: 2px;
            width: 130px;
            height: 35px;
            margin-left: 425px;
            margin-top: 30px;
            margin-bottom: -66px;
            padding: 10px 15px 10px 15
        }
    }
    .study-search-top {
        width: 300px;
        margin-left: 60px;
        border: 1.5px solid #a9a3a3;
        border-radius: 8px;
        box-shadow: 3px 3px 3px #c4c4c4;

        @media screen and (min-width: 768px) {
            margin-top: 20px;
            border: 1.8px solid #a9a3a3;
        }
        .study-search-input {
            border: 0;
            border-radius: 8px;
            width: 200px;
            height: 30px;
            font-family: 'Noto Sans KR', Courier, monospace;
            font-weight: 700;

            @media screen and (min-width: 768px) {
                width: 500px;
                height: 50px;
                font-size: 1rem;
                margin-left: 15px;
            }
        }
        .study-search-submit {
            font-family: 'Noto Sans KR', Courier, monospace;
            font-weight: 700;
            background-color: white;
            border: 0;
            border-radius: 8px;
            width: 70px;
            height: 35px;
            cursor: pointer;
            @media screen and (min-width: 768px) {
                width: 70px;
                height: 50px;
                font-size: 1rem;
            }
        }
    }
    .study-list-title {
        margin: 20px auto;
        font-family: 'Noto Sans KR', Courier, monospace;
        font-weight: 700;
        @media screen and (min-width: 768px) {
            margin: 45px auto;
            font-size: 1.5rem;
        }
    }
    .study-search-result {
        width: 70%;
        margin: 0 auto;
        @media screen and (min-width: 768px) {
            width: 62%;
            margin: 0 auto;
        }
        .search-cont-main{
            @media screen and (min-width: 768px) {
                margin-left: 60px;
                display: grid;
                grid-template-columns: repeat(4, 200px);
                grid-template-rows: repeat(2,200px);
                grid-gap:10px 80px;
            }
            .search-cont-one {
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;
                height: 130px;
                width: 300px;
                border: 1.5px solid #a9a3a3;
                border-radius: 12px;
                box-shadow: 3px 3px 3px #c4c4c4;
                padding: 10px 10px 40px 10px;
                font-family: 'Noto Sans KR', Courier, monospace;
                font-weight: 700;
                @media screen and (min-width: 768px) {
                    height: 150px;
                    border-radius: 20px;
                    border: 1.8px solid #a9a3a3;
                }
                .search-cont-title {
                    font-weight: bold;
                    margin-top: 5px;
                    font-family: 'Noto Sans KR', Courier, monospace;
                    font-weight: 1000;
                    @media screen and (min-width: 768px) {
                        margin-top: 20px;
                        margin-left: 15px;
                        font-size: 1.2rem;
                        font-weight: lighter;
                    }
                }
                .search-cont-nop {
                    margin-top: 6px;
                    font-family: 'Noto Sans KR', Courier, monospace;
                    font-weight: 700;
                    @media screen and (min-width: 768px) {
                        margin-left: 15px;
                        margin-top: 4px;
                        font-size: 0.9rem;
                    }
                }
                .search-cont-summary {
                    margin-top: 6px;
                    font-family: 'Noto Sans KR', Courier, monospace;
                    font-weight: 700;
                    @media screen and (min-width: 768px) {
                        margin-left: 15px;
                        margin-top: 4px;
                        font-size: 0.9rem;
                    }
                }
                .search-cont-detail {
                    margin-top: 6px;
                    font-family: 'Noto Sans KR', Courier, monospace;
                    font-weight: 700;
                    text-decoration: none;
                    color: black;
                    float: right;
                    @media screen and (min-width: 768px) {
                        margin-left: 15px;
                        margin-top: 4px;
                        font-size: 0.9rem;
                    }
                }
            }
        }
        .search-cont-main > button:nth-child(8n+1),
        .search-cont-main > button:nth-child(8n+5) {
           background-color: #fbe5d7;
        }
        .search-cont-main > button:nth-child(8n+2),
        .search-cont-main > button:nth-child(8n+6) {
            background-color: #deeaf6;
        }
        .search-cont-main > button:nth-child(8n+3),
        .search-cont-main > button:nth-child(8n+7) {
            background-color: #e2f0d9;
        }
        .search-cont-main > button:nth-child(8n+4),
        .search-cont-main > button:nth-child(8n+8) {
            background-color: #fff2cd;
        }        
    }
    ul {
        list-style: none;
        display: inline-block;
        margin-left: 23%;
        margin-top: -10px;
        @media screen and (min-width: 768px) {
            margin-left: 44%;
        }
    }
    ul li {
        float:left;
        margin-left: 9px;
    }
    ul li a {
        float: left;
        padding: 5px;
        width: 25px;
        height: 25px;
        color:#a9a3a3;
        border:1px solid#a9a3a3;
        border-radius: 5px;
        text-align:center;
        margin-top: 28px;
        text-decoration: none;
    }
    ul li a:hover, ul li a:focus {
        color:#fff;
        border: 2px solid #a9a3a3;
        border-radius: 5px;
        background-color: #a9a3a3;
    }
}

