@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    font-family: 'Montserrat', Courier, monospace;
}

StudyPlanBar{
    display: inline-block;
    width: 60%;
}

.editorFrame{
    display: inline;
}

.frame{
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
}

StudyLeftBar{
    display: inline-block;
    width: 10%;
}

#frame{
    display: inline-block;
    position: absolute;
    left: 10%;
    right: 10%;
    width: 80%;
}

StudyRightBar{
    display: inline-block;
    width: 10%;
}


#rightframe{
    display: inline-block;
}