@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

*{
    font-family: 'Montserrat', Courier, monospace;
}


#rightframe{
    @media screen and (min-width: 768px) {
        margin-top: 30px;
        width: 20%;
        display: inline-block;
        position: absolute;
        right: 50px;  
        padding-bottom: 20px; 
    }
    
}

#issueTitleFrame{
    text-align: right;
}

#issueTitle{
    display: inline-block;
}

#rightbarlogo{
    @media screen and (min-width: 768px){
        display: block;
        float: right;
        text-align: right;
        font-weight: 700;
        font-family: 'Montserrat', Times, serif;
        margin-left: 10px;
        margin-top: 0px;
    }
}

#inputFrame{
    padding-right: 15px;
    text-align: right;
}

#issueinput{

    @media screen and (min-width: 768px){
        display: inline-block;
        width: 70%;
        height: 35px;
        border: 2px solid grey;
        border-radius: 30px;
        font-family:'Noto Sans KR', Times, serif;
        font-weight: 700;
        padding-left: 15px;
        margin-left: 10px;
    }
}

#issueBtn{
    @media screen and (min-width: 768px){
        font-size: 1.5rem;
        color: black;
        display: inline-block;
        margin-left: 5px;
        width: 40px;
        height: 40px;
        border: 2px solid grey;
        border-radius: 100px;
        background-color: white;
    }
    
}