@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

*{
    font-family: 'Montserrat', Courier, monospace;
}


#issue{
    display: inline-block;
}

#rightframe{
    display: inline-block;
}

#issueTitleFrame{
    display: inline-block;
}

#rightframe{
    @media screen and (min-width: 768px) {
        //margin-top: 30px;
        width: 20%;
        display: inline-block;
        position: absolute;
        right: 50px;  
        padding-bottom: 20px; 
    }
    
}

#issueTitleFrame{
    text-align: right;
}

#issueTitle{
    display: inline-block;
    margin-top: -30px;
}

#rightbarlogo{
    @media screen and (min-width: 768px){
        display: block;
        float: right;
        text-align: right;
        font-weight: 700;
        font-family: 'Montserrat', Times, serif;
        margin-left: 10px;
        margin-top: 0px;
    }
}

#inputFrame{
    padding-right: 15px;
    text-align: right;
}

.issueTop{
    width: 83%;
    text-align: right;
    float: right;
    margin-right: 15px;
    // list 표시 없앰
    list-style: none;
}

.issueComp{
    font-family: 'Noto Sans KR', Courier, monospace;
    background-color: #f5f5f5;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.issueContent{
    font-family: 'Noto Sans KR', Courier, monospace;
    font-weight: 700;
}

.issueContent > li{
    font-family: 'Noto Sans KR', Courier, monospace;
    font-weight: 700;
}

.issueWriter{
    font-family: 'Noto Sans KR', Courier, monospace;
    font-weight: 700;
}

.issueTop > li{
    font-family: 'Noto Sans KR', Courier, monospace;
    background-color: #f5f5f5;

    @media screen and (min-width: 768px){
        font-size: 1.0rem;
        text-decoration: none;
        padding: 20px;
        border: 1px solid grey;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
  
}


#issueinput{
        display: inline-block;
        width: 70%;
        height: 35px;
        border: 2px solid grey;
        border-radius: 30px;
        font-family:'Noto Sans KR', Times, serif;
        font-weight: 700;
        padding-left: 15px;
        margin-left: 10px;
    @media screen and (min-width: 768px){
        
    }
}

#issueBtn{
    width: 40px;
    height: 40px;
    @media screen and (min-width: 768px){
        font-size: 1.5rem;
        color: black;
        display: inline-block;
        margin-left: 5px;
        border: 2px solid grey;
        border-radius: 100px;
        background-color: white;
    }
    
}

#issueIcon{
    width: 40px;
}