.study-add {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    .study-add-main {
        margin: 20px auto;
        @media screen and (min-width: 768px) {
            margin-left: 400px;
        }
        .study-add-h2 {
            margin-left: 60px;
            @media screen and (min-width: 768px) {
                margin-left: 400px;
            }
        }
        .study-add-table {
            display: grid;
            grid-template-columns: 100px 200px;
            grid-template-rows: 30px 30px 30px 100px;
            margin-top: 30px;
            margin-bottom: 20px;
            font-size: 1.2rem;
            @media screen and (min-width: 768px) {
                margin-top: 40px;
                margin-left: 10px;
                grid-template-columns: 100px 750px;
                grid-template-rows: 50px 50px 50px 300px;
            }
            .study-add-t-title {
                font-weight: bold;
            }
            .study-add-title {
                height: 22px;
                @media screen and (min-width: 768px) {
                    height: 30px;
                }
            }
            .study-add-t-nop {
                font-weight: bold;
                margin-top: 20px;
            }
            .study-add-nop-input {
                height: 20px;
                margin-top: 20px;
                @media screen and (min-width: 768px) {
                    height: 30px;
                }
            }
            .study-add-t-summ {
                font-weight: bold;
                margin-top: 30px;
            }
            .study-add-summ {
                height: 20px;
                margin-top: 30px;
                @media screen and (min-width: 768px) {
                    height: 30px;
                }
            }
            .study-add-t-cont {
                font-weight: bold;
                margin-top: 40px;
            }
            .study-add-cont {
                height: 250px;
                margin-top: 42px;
                @media screen and (min-width: 768px) {
                    height: 300px;
                }
            }
        }
        .study-add-submit {
            width: 100px;
            height: 35px;
            margin-top: 245px;
            margin-left: 110px;
            font-size: 1rem;
            @media screen and (min-width: 768px) {
                margin-top: 90px;
                margin-left: 450px;
                font-size: 1.3rem;
                height: 40px;
                width: 120px;
            }
        }
    }
}