@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

#dataframe{
    @media screen and (min-width: 768px) {
        //padding: 15px;
        font-family: 'Montserrat', Courier, monospace;
        width: 62%;
        position: absolute;
        display: inline-block;
        left: 14%;
        right: 12%;
    }
    
}

#postFrame{
    @media screen and (min-width: 768px){
        /*margin-top: 50px;
        padding-left: 150px;
        padding-right: 100px;*/
        margin-top: -23px;
        margin-left: -15px;
    }
}

#tableFrame{
    padding: 30px;
}

.dataLink{
    color: black;
    text-decoration: none;
}
#studyDataTable{
    @media screen and (min-width: 768px) {
        font-family: 'Noto Sans KR', Courier, monospace;
        margin: 0px;
    }
}

#tableTop{
    @media screen and (min-width: 768px) {
        padding-bottom: 50px;
    }
}

#dataTable{
    margin-top: 50px;
    margin-left: 130px;
}

tr{
    font-weight: 700;
    font-display: bold;
    font-size: 1.2rem;
}

tr > td{
    @media screen and (min-width: 768px) {
        font-family: 'Noto Sans KR', Courier, monospace;

        padding-right: 230px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


#writeBtn{
    @media screen and (min-width: 768px) {
        font-family: 'Noto Sans KR', Courier, monospace;
        text-align: right;
        float: right;
        font-size: 1.0rem;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-right: 160px;
        border: 1px solid black;
        border-radius: 40px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}