@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

#logo{
    margin-top: 15px;
    margin-left: 30px;
    font-weight: 700;
    font-family: 'Montserrat', Times, serif;
}